extends layout

block content

    h1 = title

    form(method='POST')
        div.from-group
            label(for='model') Model;
            input#model.form-control(type='text',
            placeholder='IEM Model' name='model' required value=(undefined===iemranking ? '' : iemranking.model) )
            label(for='rank') Rank;
            input#model.form-control(type='text',
            placeholder='Ranking' name='rank' required value=(undefined===iemranking ? '' : iemranking.rank) )
            button.btn.btn-primary(type='submit') Submit

        if errors 
            ul
                for error in errors
                    li!= error.msg